<div class="songs m-3">
<h1>recenty played </h1>
  <div class="row">
  <% current_user.history.songs.each do |song| %>
      <div class="col-3">
        <%= render partial: "shared/song_head" , locals: { song: song } %>
      </div>
  <% end %>
  </div>
</div>