<div class="col-4 released-thumbnail">
                                    <img  class="ml-3" src="images/music-album1.jpg" alt="">
                                </div>
                                <div class="col-8 released-songs d-flex flex-column justify-content-around">
                                    <div class="row">
                                        <div class="col-2">
                                            <p class="mb-0 float-left">1</p>
                                            <img class="sidebar-icon float-right" src="images/heart.svg" alt="">
                                        </div>
                                        <div class="col-8">
                                            <p class="mb-0 released-song-name">closer</p>
                                            <p class="released-artists-name">the chainsmockers</p>
                                        </div>
                                        <div class="col-2">
                                            <p class="time">3.02</p>
                                        </div>
                                    </div> 
                                    <div class="row">
                                        <div class="col-2">
                                            <p class="mb-0 float-left">1</p>
                                            <img class="sidebar-icon float-right" src="images/heart.svg" alt="">
                                        </div>
                                        <div class="col-8">
                                            <p class="mb-0 released-song-name">closer</p>
                                            <p class="released-artists-name">the chainsmockers</p>
                                        </div>
                                        <div class="col-2">
                                            <p class="time">3.02</p>
                                        </div>
                                    </div> 
                                    <div class="row">
                                        <div class="col-2">
                                            <p class="mb-0 float-left">1</p>
                                            <img class="sidebar-icon float-right" src="images/heart.svg" alt="">
                                        </div>
                                        <div class="col-8">
                                            <p class="mb-0 released-song-name">closer</p>
                                            <p class="released-artists-name">the chainsmockers</p>
                                        </div>
                                        <div class="col-2">
                                            <p class="time">3.02</p>
                                        </div>
                                    </div> 
                                    <div class="row">
                                        <div class="col-2">
                                            <p class="mb-0 float-left">1</p>
                                            <img class="sidebar-icon float-right" src="images/heart.svg" alt="">
                                        </div>
                                        <div class="col-8">
                                            <p class="mb-0 released-song-name">closer</p>
                                            <p class="released-artists-name">the chainsmockers</p>
                                        </div>
                                        <div class="col-2">
                                            <p class="time">3.02</p>
                                        </div>
                                    </div>       
                                </div>