  <h6 class="mt-5 ml-5">Recently played</h6>
                                <div class="col-12">
                                    <div class="row mr-2 ml-2 d-flex justify-content-around">
                                        <div class="col-2 p-3 recently-played">
                                            <img src="images/music-album3.jpg" alt="">
                                            <p class="recent-song-name mb-0">havana</p>
                                            <p class="recent-song-artist-name">dua lipa</p>
                                        </div>
                                        <div class="col-2 p-3 recently-played">
                                            <img src="images/music-album1.jpg" alt="">
                                            <p class="recent-song-name mb-0">havana</p>
                                            <p class="recent-song-artist-name">dua lipa</p>
                                        </div>
                                        <div class="col-2 p-3 recently-played">
                                            <img src="images/music-album2.jpg" alt="">
                                            <p class="recent-song-name mb-0">havana</p>
                                            <p class="recent-song-artist-name">dua lipa</p>
                                        </div>
                                        <div class="col-2 p-3 recently-played">
                                            <img src="images/music-album4.jpg" alt="">
                                            <p class="recent-song-name mb-0">havana</p>
                                            <p class="recent-song-artist-name">dua lipa</p>
                                        </div>
                                        <div class="col-2 p-3 recently-played">
                                            <img src="images/music-album1.jpg" alt="">
                                            <p class="recent-song-name mb-0">havana</p>
                                            <p class="recent-song-artist-name">dua lipa</p>
                                        </div>
                                    </div>
                                </div>    