/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* 
.field_with_errors{
    display: none;
}*/

:root {
    --accent : #ee8b8c;
    --accent-light : #edd9da;
    --accent-extra-light : #f7f1f1;
    --white: #ffffff;
    --pale-white : #e4e4e4;
    --text-black : #000000;
    --text-light-black : #1e1a1a;
  }

.auth-form-card{
    padding-left: 150px;
    padding-right: 150px;
    background-color: white;
    margin-top:10%;
  
}

.auth-form-card-img{
    background: url("bg.jpg");
    background-size: auto 100%;

    background-repeat: no-repeat;
    height: 100vh;

    filter: grayscale(100%);
}

.auth-form-text-on-img{
    position: absolute;
    bottom: 0;
    margin-bottom: 100px;
    margin-left: 50px;
}
.auth-form-text-on-img p{
    color: white;
    font-size: 20px;
}
.auth-form-text-on-img h1{
    color: white;
   font-size: 100px;
}


.btn{
    border-radius: 0.5rem;   
    width: 100%;
    border: none;
    color: rgb(114, 112, 88);
    background-color: rgb(212, 208, 161);
    margin-top: 10px;
    outline: none;
}

.btn:hover{
    background-color: black;
    color: white;
    outline: none;

}

.btn:focus {
    outline: white;
}

.link{
    color: rgb(117, 114, 88);
    text-decoration: none;
}
.link:hover{
    color: black;
    background-color: white;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 0 0 0; /* Height of navbar */
    width: 240px;
    z-index: 600;
    border: none;
    box-shadow: 0px 0.2px 50px 10px var(--accent-extra-light);
    }
    
    @media (max-width: 991.98px) {
    .sidebar {
    width: 100%;
    }
    }
    .sidebar .active {
    border-radius: 50px;
    background-color: var(--accent-extra-light);
    border: none;
    color: #ee8b8c;

    }
    
    .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    }
.sidebar .list-group-item{

    border: none;
}
.sidebar .list-group-item.active{
    color: var(--accent);
}

.appname {
    margin-top: 15px;
    margin-bottom: 50px;
    text-align: center;
}
.navbar .search{
    width: 100%;
}
.navbar-nav{
    width: 100%;
}
.navbar .search-box{

    border-radius: 50px;
    border: none;
    background-color: var(--pale-white);
    color: var(--accent);
    margin-right: 100px!;
    margin-left: 100px;

}
