<turbo-frame id="main">
  <div class="likes m-3">
    <h4 class="m3 mt-5 mb-5">your likes</h4>
    <div class="row" >
      <% @likes.each do |like| %>
        <div class="col-3">
          <% if like.likeable_type == "Song" %>
              <%= render partial: "shared/song_head" , locals: { song: like.likeable } %>
          <% elsif like.likeable_type == "Playlist" %>
            <%= render partial: "shared/playlist_head" , locals: { playlist: like.likeable } %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</turbo-frame>