<turbo-frame id="main">
  <div class="songs m-3">
  <h4 class="m3 mt-5 mb-5">Playing Next</h4>
    <div class="row">
    <% @song_queue.songs.each_with_index do |song , index| %>
        <div class="col-12">
          <%= render partial: "shared/song_queue_head" , locals: { song: song , index: index } %>
        </div>
    <% end %>
    </div>
  </div>
</turbo-frame>

 

