<% @songs.each do |song| %>
    <div class="checkbox_div form-check p-1 ml-5">
        <%= check_box_tag 'songs[]' , song.id, false, class: "search_song_checkbox form-check-input" %>
        <%= label_tag song.name , song.name ,class: "form-check-label" %>
    </div>
<% end %>
<script>
  $('.search_song_checkbox').on('change',
    function(){
        if (this.checked) 
        {
            $('#selected_songs').append($(this).parent());
        }
        else
        {
            $(this).parent().remove();
        }
    });
</script>