<div class="songs m-3">
<h4>Notifications</h4>
  <div class="row">
    <% @notifications.each do |notification| %>
        <div class="col-12">
        <% if notification.notifiable_type == "follow" %>
            <%= render "follow_notification" , notification: notification%>
        <% elsif notification.notifiable_type == "like" %>
            <% if Like.find(notification.notifiable_id)%>
                <%= render "song_like_notification" , song: Like.find(notification.notifiable_id).likeable, notification: notification %>
            <% elsif Like.find(notification.notifiable_id)%>
                <%= render "playlist_like_notification" , playlist: Playlist.find(notification.notifiable_id), notification: notification %>
            <% end %>
        <% end %>
        </div>
    <% end %>
    </div>
</div>


